.forms-container {
  max-width: 700px;
  margin: 0 auto;
}

.choose {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.choose div {
  margin: 0 10px;
}

.loginCheck button,
.registerCheck button {
  border-radius: 0;
  background-color: #dcdcdcc3;
  color: black;
}

.loginCheck button:hover,
.registerCheck button:hover {
  transition: all 300ms ease-in-out;
  color: black;
  background-color: #dcdcdc;
}

.loginCheck button.selected,
.registerCheck button.selected {
  border-bottom: 2px solid black;
}