.card {
  padding: 10px;
  margin: 25px;
  background-color: #1E2732;
  box-shadow: #a9a9a9 0px 1px 2px 0px, #a9a9a9 0px 1px 3px 1px;
}

.card-hover:hover {
  transition: all 300ms ease-in-out;
  transform: scale(1.10);
  box-shadow: #a9a9a9 0px 1px 2px 0px, #a9a9a9 0px 1px 3px 1px;
}

.card-body {
  padding: 10px;
  text-align: center;
}

.card-title {
  text-align: center;
  font-weight: bold;
  color: plum;
}

.card-text {
  overflow: hidden;
  /* max-height: 6rem; */
}

.btn {
  border: none;
  background-color: #00ba7cdf;
  color: #FEFEFF;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px;

  &:hover {
    background-color: #00BA7C;
  }
}

.actions {
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
}

.fav,
.stars {
  width: 100%;
  text-align: center;
}

.fav i {
  color: #DD2E44;
}

.stars i {
  color: #FDD835;
}

.fav,
.stars {
  font-size: 25px;
  font-weight: bold;
}

.fav {
  cursor: pointer;
}

@keyframes heart-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.fav.clicked i::before {
  animation: heart-scale 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes star-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.stars.clicked i::before {
  animation: star-scale 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}