* {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.row {
  margin: 20px auto;
  max-width: 1024px;
}

a {
  text-decoration: none;
  color: black;
  /* text-transform: uppercase; */
  font-weight: bold;
}

ul {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

ul li {
  margin: 10px;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.form-select {
  max-width: 300px;
  margin: 10px;
}

header>form {
  max-width: 300px;
  margin: 10px;
}