* {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.row {
  margin: 20px auto;
  max-width: 1024px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.form-select {
  max-width: 400px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}