:root {
  --toastify-color-light: #FEFEFF;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #00BA7C;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #15202B;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #15202B;
  --toastify-text-color-dark: #FEFEFF;

  --toastify-text-color-info: #FEFEFF;
  --toastify-text-color-success: #FEFEFF;
  --toastify-text-color-warning: #FEFEFF;
  --toastify-text-color-error: #FEFEFF;

  --toastify-spinner-color: #15202B;
  --toastify-spinner-color-empty-area: #FEFEFF;


  --toastify-color-progress-light: linear-gradient(to right,
      #00BA7C,
      #5ac8fa,
      #007aff,
      #34aadc,
      #5856d6,
      #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

* {
  font-family: 'Montserrat', sans-serif;
  background-color: #15202B;
  color: #FEFEFF;
}

.body,
.bg-toast {
  background-color: #15202B;
}


.row {
  margin: 20px auto;
  max-width: 1024px;
  display: flex;
  justify-content: center;
}

h4 {
  margin-bottom: 0;
}

#brand-h4 {
  color: #FEFEFF;
  font-weight: bold;

  &:hover {
    color: #FEFEFF;
    font-weight: bold;

  }

}

a {
  text-decoration: none;
  color: #FEFEFF;
  /* text-transform: uppercase; */
  font-weight: bold;
}

.navbar {
  border-bottom: 1px solid #a9a9a9;
}

.navbar-brand {
  color: #FEFEFF;
  padding-bottom: 0;

  &:hover {
    color: #FEFEFF;
  }
}

ul {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

ul li {
  margin: 10px;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.form-select {
  max-width: 300px;
  margin: 10px;
}

.form-label {
  margin: 0;
}

header>form {
  max-width: 300px;
  margin: 10px;
}

label {
  text-align: left;
  font-style: italic;
}

.form-control,
.form-select {
  background-color: #273340;
  color: #8794A1;
  border: none;

  &::placeholder {
    color: #8794A1;
  }

  &:focus {
    background-color: #273340;
    color: #8794A1;
    box-shadow: none;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid #71879f;
  font-weight: 600;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: none;
  border-bottom: 2px solid #71879f;
}


.error-msg {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #F8D7DA;
  color: #67272D;
  border: 1px solid #67272D;
  border-radius: 5px;
  font-weight: bold;
}

i {
  cursor: pointer;
}